{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}
        <div class="p-4 p-md-5 mb-2 bg-light rounded-4 text-center">
            <h1 class="display-5 fw-bold">Plant Sync V2</h1>
            <p class="col-md-8 mx-auto fs-5 text-muted">
                Track, log, and monitor issues on site in real time.
            </p>

            <a href="{{ url_for('dashboard') }}" class="btn btn-primary btn-lg px-4 mt-2">Open Dashboard</a>
        </div>
        <div class="card-row">
          <div class="card">More info coming soon...</div>
          <div class="card">To be developed. Flexible container.</div>
        </div>


{% endblock %}