{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}
        <div class="card border-primary mb-3 justify-content-center" style="max-width: 90rem;">
            <div class="card-header">
                <h1 class="text-center fw-bold" style="color:#af3f18;">Welcome to PlantSync</h1>
            </div>
            <div class="card-body">
            <h4 class="card-title">Primary card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                    <br><br>
                </div>
          </div>
        </div>

{% endblock %}