{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

     <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="p-4 p-md-5 mb-2 bg-light rounded-4 shadow-sm">
                <h1 class="text-center mb-4">Register!</h1>
                    <form method="POST" novalidate>
                        {{ form.csrf_token }}
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                        {{ form.confirm_password.label(class="form-label") }}
                        {{ form.confirm_password(class="form-control") }}
                        {{ form.submit(class="btn btn-primary w-100 mt-4") }}
                    </form>
            </div>
        </div>
     </div>
{% endblock %}
